*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AlongSans", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgba(0,0,0,0.5) url(../img/BG4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    font-family: "Gotham A","Gotham B","Source Sans Pro",arial,helvetica,sans-serif;
}

header{
    padding-top: 1%;
    width: 100%;
    height: 8%;
    color: black;
    border-bottom: 2px solid  rgb(206, 205, 205);
    display: inline-block;  
    position: fixed; 
    z-index: 9999;
    color:  rgb(206, 205, 205);
    
}
.logo{
    display: inline-block;
    margin-left: 2%;
    font-weight: 1000;   
    font-size: 30px; 
}
/*CSS for Home pages div names of home page is card1, card2}*/
/*tag of home pages are h2, p, button, Anchor and Icons*/

.card1{
    top: 40%;
    width: 100%;
    height: 20%;
    line-height: 60px;
    text-align: center;
    color: rgb(239, 239, 239);
    position: absolute;
    font-size: 1.5rem;
}
.card1 h2{
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 900;
    font-family: "Gotham A","Gotham B","Source Sans Pro",arial,helvetica,sans-serif;
}
.card2{
    top: auto;
    bottom: 0;
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;

}
.card2 a{
    top: 20px;
    text-decoration: none;
    color: rgb(206, 205, 205);
    font-size: 2rem;
    margin-top: 4%;
    margin-right: 3%;
    padding: 0.5%;
    width: 3.5%;
    height: 35%;
    border-radius: 100PX;
    background-color:rgb(16, 6, 6) ;

}
.card2 a:hover{
    padding: 0.7%;
}
/*css for About pages div names of about pages are abouts, images & history*/
/*tages of about pages are    */
.containers{
    top: 15%;
    position:absolute;
    width: 100%;
    height: 65%;
    color: rgb(220, 219, 219);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
h2{
    font-size: 3rem;
    width: 100%;
    height: 15%;
    text-align: center;
    color: wheat;
    font-family: "Quicksand", sans-serif;
}
.containers .images{
    width: 25%;
    display: grid;
    position: relative;
    background-image:url(../img/my_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

}
.containers .history{
    line-height: 40px;
    border-radius: 10px;
    width: 35%;
    position: relative;
    padding-left: 20px ;
    padding-right: 20px;
    font-size: 25px;
    text-align: center;
    padding-top: 5%;
    font-weight: 600;
    font-family: sans-serif;
}
.containers .history button{
    background: black;
    width: 50%;
    height: 20%;
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
}
.containers .history a{
    text-decoration: none;
    color: wheat;
}
/*Css for Portfolio page*/
.containersp{
    top: 15%;
    position:absolute;
    width: 100%;
    height: 65%;
    color: rgb(150, 145, 145);
}
.portfolio{
    top: 0%;
    position: relative;
    width: 100%;
    height: 65%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.p1, .p2, .p3{
    width: 30%;
    margin-right: 40px;
    position: relative;
    display:grid;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 20px 0px 30px;
    padding: 0px 30px 0px 30px;
}
.p1{
    background-image: url(../img/WeddingEvents.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.p2{
    background-image: url(../img/Admas.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.p3{
    background-image: url(../img/portfolio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}
.p1 .overlay, .p2 .overlay, .p3 .overlay{
top:69%;
position: absolute;
background: white;
height: 31%;
font-weight: 500;
}

.p1::after, .p2::after, .p3::after{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    content: '';
    top: 0;
    transform: .5s;
    border-radius: 20px;
    display: block;
}

.p1:hover::after, .p2:hover::after, .p3:hover::after{
    background: linear-gradient(to bottom,rgb(22, 22, 22, 0.95)0,rgba(22, 22, 22, 0.95)25%,rgba(22, 22, 22, 0.95)50%,rgba(22, 22, 22, 0.95)75%,rgba(22, 22, 22, 0.95)100%);
    display: block;
}
.p1 .overlay, .p2 .overlay, .p3 .overlay{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
    transition: translateY(145px);
    transition: all .5s cubic-bezier(.13, .62, .81, 91) 0s;
}
.p1 .overlay h3, .p2 .overlay h3, .p3 .overlay h3{
    font-family: big John;
}
.p1:hover,.p2:hover,.p3:hover, .overlay{
    transform: translateY(0);
}

/*CSS For service page*/
.containerss{
    top: 15%;
    position:absolute;
    width: 100%;
    height: 65%;
    color: rgb(220, 219, 219);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.services{
    width: 25%;
    position: relative;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.containerss .services li{
    list-style: none;
    font-weight: 900;
    line-height: 50px;
    transition: .3s;
}

.containerss .services li:hover{
    background: rgb(206, 206, 206);
    padding: 10px;
    margin: 5px;
    color: black;
}

/*css for contact page*/
.containersc{
    top: 15%;
    position:absolute;
    width: 100%;
    height: 65%;
    color: rgb(220, 219, 219);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contactform{
    position: relative;
    width: 30%;
    display: grid;
    justify-content: center;
}
.contactform input{
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgb(18, 18, 18);
    border-radius: 8px;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    transition: 0.5s;
}
.contactform span{
    position: absolute;
    left: 0;
    padding: 15px;
    pointer-events: none;
    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.contactform input:valid~span,
.contactform input:focus~span{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 1em;
    padding: 0px 10px;
    background: rgb(18, 18, 18);
    border-right: 1px solid #00dfc4;
    border-left: 1px solid #00dfc4;
    letter-spacing: 0.2em;    
}
.contactform input:valid,
.contactform input:focus{
    border: 1px solid #00dfc4;
}
.contactform:nth-child(2) input:valid~span,
.contactform:nth-child(2) input:focus~span{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
}
.buttonsf{
    background-color: #577f7a;
    color: white;
    width: 40%;
    height: 15%;
    margin-left: 25%;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}
.contactlink{
    top: 40%;
    margin-left: 10%;
    line-height: 40px;
    border-radius: 10px;
    width: 30%;
    position: absolute;
    padding-left: 20px ;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.contactlink i{
    width: 10%;
    border-radius: 100%;
    height: 100%;
    font-size: 2.5rem;
    color: rgb(210, 210, 210);
    margin: 10px;
    text-align: center;
}

@media screen and (max-width: 600px){
    .card1{
        top: 50%;
        font-size: 18px;
    }
    .container h2{
        font-size: 2rem;
    }
    .card1 h2{
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 900;
    }
    .card1 p{
        font-size: 15px;
    }
    .card1 .download{
        width: 50%;
        height: 35%;
    } 
    .about{
        top: 103;   
    } 
    .card2{
        height: 10%;
    }
    .card2 a{
        margin-top: 4%;
        margin-right: 15%;

    }

    .containers .images{
        width: 25%;
    }
    .containers .history{
        width: 35;
    }
    .containers .services{
        border: solid black;
        top: 0;
    }
    .containers .services li{
        width: 100%;
        border: solid red;
        line-height: 35px;
    }
    .containers .images{
        top: 15%;
        width: 70%;  
        height: 40%;
        position: absolute;
    }
    .containers .history{
        top: 57%;
        width: 100%;
        position: absolute;
        font-size: 1rem;
        line-height: 20px;
    }
    .containers .history button{
        top: 110%;
        left: 20%;
        width: 65%;
        height: 30%;
        position: absolute;
    }
    .p1, .p2, .p3{
        width: 60%;
        height: 45%;
        margin: 10px 0px 10px 0px;
        padding:30px 0px 30px 0px;
    }
    .services{
        top: 25%;
        width: 90%;
        position: absolute;
    }
    .contactform{
        top: 25%;
        left: 10%;
        position: relative;
        width: 90%;
        display: grid;
        justify-content: center;
    }
    .contactlink{
        margin-left: 0%;
        top: 8%;
        width: 100%;
        font-size: 1rem;
        line-height: 25px;

    }
    .p1 .overlay, .p2 .overlay, .p3 .overlay{
        top:60%;
        height: 41%;
        font-size: 0.6rem;
        }
}